wsdl/weatherService.wsdl

<wsdl:definitions name="WeatherService"
             targetNamespace="http://localhost:8000/weather"
             xmlns:tns="http://localhost:8000/weather"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema">

<!-- Types -->
<wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8000/weather">
        <xsd:element name="GetWeatherRequest">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="location" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="GetWeatherResponse">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="temperature" type="xsd:string"/>
                    <xsd:element name="description" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</wsdl:types>

<!-- Messages -->
<wsdl:message name="GetWeatherRequestMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherRequest"/>
</wsdl:message>
<wsdl:message name="GetWeatherResponseMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherResponse"/>
</wsdl:message>

<!-- Port Type -->
<wsdl:portType name="WeatherPortType">
    <wsdl:operation name="GetWeather">
        <wsdl:input message="tns:GetWeatherRequestMessage"/>
        <wsdl:output message="tns:GetWeatherResponseMessage"/>
    </wsdl:operation>
</wsdl:portType>

<!-- Binding -->
<wsdl:binding name="WeatherBinding" type="tns:WeatherPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetWeather">
        <soap:operation soapAction="http://localhost:8000/weather/GetWeather"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
</wsdl:binding>

<!-- Service -->
<wsdl:service name="WeatherService">
    <wsdl:port name="WeatherPort" binding="tns:WeatherBinding">
        <soap:address location="http://localhost:8000/weather"/>
    </wsdl:port>
</wsdl:service>

</wsdl:definitions>
